html(lang="en")
  include ../partials/_header.pug
  body
    include ../partials/_nav.pug
    
    .main
      .work-hero
        h1 Bluemine
          .hero-tag IBM
          .hero-icon
            include ../img/icon--bm.svg
        .work-hero-desc Design leadership and front-end dev for IBM internal research platform
      
      p Bluemine was an internal research app at IBM. It served as an aggregator of several external and internal market intelligence reports, a publishing tool for internal analysts, as well as a directory for internally authored tools and dashboards.
      
      p Shortly after I joined the design team in the Market Development & Insights division, our group was tasked with redesigning and updating the app from the ground up. The resulting 1.0 version led to major tested improvements to experience and architecture, as well as inclusion in the list of #[a.link(href='https://www.nngroup.com/news/item/2019-intranet-design-awards/' target='_blank') 2019 Nielsen Norman Intranet Design] winners.

      figure.img-group
        img(src='/img/img--bm-1.png' alt='marketing copy and promo image example')
        figcaption.annotation Some early copy from our 1.0 homepage and promotional imagery. Despite being an internal tool, we still had to do our fair share of marketing -- report vendor licenses (and our team) were funded by an internal subscription system.

      p I started out mostly working on the foundational UX of the app for other designers to build and iterate upon, as well as supporting the front-end development crew. After the 1.0 release, I began taking more of a leadership role, guiding large swathes of the overall experience and leading implementation of a large feature branch.

      p Some of my contributions include:

      ul
        li Foundational wireframes for app navigation and structure
        li User flows and gray wires for publishing process
        li Occasional high fidelity mockups for certain views
        li Front-end support, PR review for any designs I've contributed to
        li Front-end implementation/refactors of certain views
        li Squad leadership responsible for overall user journey, onboarding, and support
        li Leadership of a Channels feature set - a Reddit-like space of information exchange and conversation about market topics
              
      p I could easily write a novella about this behemoth of a project -- especially on the Channels feature branch, which I initiated and pitched to key stakeholders. It could probably be case page on its own...but might be better suited for an in-depth conversation. Meanwhile, here are some examples of other pieces of work from this project.
      
      figure.img-group
        img(src='/img/img--bm-publish.png' alt='the edit post tab of the report publication process')
        figcaption.annotation After providing early #[a.link(href='/img/img--bm-board-publish.png' target='_blank') lo-fi user flows] for the publication process, I transitioned to supporting the front-end team in building the views that other designers iterated upon.#[br]#[br]A lot of my front-end work was focused on visual alignment with mocks, accessibility standards, and optimization (like re-writing the report view component to allow it to be called from the preview tab in edit mode).
        
      figure.img-group
        img(src='/img/img--bm-layers.png' alt='a graphic I made for the dev wiki that shows z-indeces and app layers')
        figcaption.annotation During work on 1.0, our team's other front-end/designer hybrid and I worked to establish best practice for our offshore devs. This included things like naming conventions, wiki maintenance, and example graphics explaining z-index distribution between layers.#[br]#[br]When Bluemine later started its migration to Carbon Design System, I defined a set of custom #[a.link(href='/img/img--bm-morelayouts.png' target='_blank') layout types] with Bluemine's existing views in mind.
        
      figure.img-group
        img(src='/img/img--bm-roadmap.png' alt='a snapshot of my our roadmap while I led the User Journey squad')
        figcaption.annotation Shortly after the launch of 1.0, I was made squad lead for features related to overall user journey. At that point, I was doing lo/mid-fi designs, front-end, project management, scrums/sprint planning, and contributing to our design system all at once. Eventually this squad became assigned to the Channels feature branch, for which I also maintained design epics/stories on #[a.link(href='/img/img--bm-channelspost.png' target='_blank') large boards].#[br]#[br]Our squad calls would often involve devs whiteboarding and relaying data/API details while I go over these stories, making for a close syncronization between design and dev.
        
      figure.img-group
        img(src='/img/img--bm-identity.png' alt='icons for bluemine, as well as examples of motif')
        figcaption.annotation Early in 1.0's wireframe phase, I used a diamond shape with geometric cutouts as a placeholder for the app icon. Over time, it kind of stuck and the team requested I do the official iconography and branding. It didn't take many #[a.link(href='/img/img--bm-identity-legacy.png' target='_blank') iterations] to arrive at something fitting to our main organization's branding while also being flexible enough to extrapolate to an entire app ecosystem.#[br]#[br]I created the matrix of AI artboards for exports of all sizes and contexts and created a style/brand guide(something I wish I had saved to show here...).#[br]#[br]When the app migrated to Carbon Design, I updated the branding(pictured above), and also established visual motif and updated illustrational styles to be in line with broader Carbon guidelines.
      
      p
          
      .prev-next
        a.prev-button(href='verity.html')
          span.prev-next-button__label PREV
          span.prev-next-button__text Verity
        a.next-button(href='agency.html')
          span.prev-next-button__label NEXT
          span.prev-next-button__text Agency work
          .prev-next-icon
            include ../img/icon--agency.svg
