html(lang="en")
  include ../partials/_header.pug
  body
    include ../partials/_nav.pug
    
    .main
      .work-hero
        h1 Bluemine
          .hero-tag IBM
          .hero-icon
            include ../img/icon--bm.svg
        .work-hero-desc Design leadership and front-end dev for IBM internal research platform
      
      p Bluemine was an internal research app at IBM. It served as an aggregator of several external and internal market intelligence reports, a publishing tool for internal analysts, as well as a directory for internally authored tools and dashboards.
      
      p Shortly after I joined the design team in the Market Development & Insights division, our group was tasked with redesigning and updating the app from the ground up. The resulting 1.0 version led to major tested improvements to experience and architecture, as well as inclusion in the list of 2019 Nielsen Norman Intranet Design winners.

      figure.img-group
        img(src='/img/img--bm-1.png')
        figcaption.annotation Some early copy from our 1.0 homepage and promotional imagery. Despite being an internal tool, we still had to do our fair share of marketing -- report vendor licenses (and our team) were funded by an internal subscription system.

      p I started out mostly working on the foundational UX of the app for other designers to build and iterate upon, as well as supporting the front-end development crew. After the 1.0 release, I began taking more of a leadership role, guiding large swathes of the overall experience and leading implementation of a large feature branch.

      p Some of my contributions include:

      ul
        li Foundational wireframes for app navigation and structure
        li User flows and gray wires for publishing process
        li Occasional high fidelity mockups for certain views
        li Front-end support, PR review for any designs I've contributed to
        li Front-end implementation/refactors of certain views
        li Squad leadership responsible for overall user journey, onboarding, and support
        li Leadership of a Channels feature set - a Reddit-like space of information exchange and conversation about market topics
        li and many other odds and ends
              
      p
