html(lang="en")
  include ../partials/_header.pug
  body
    include ../partials/_nav.pug
    
    .main
      .home-title
        h1 Hi, I'm Zevin
          span.subtitle (<strong>Z</strong>hou + K<strong>evin</strong>)
          
      p I'm a Product Designer who's a bit of a generalist. As someone who cares deeply about how and why things are made, I've somehow repeatedly found myself contributing in practices firmly adjacent of my main practice of UX/UI Design. Some examples include:
  
      figure.img-group
        img(src='/img/img--comic-1.png')
        img(src='/img/img--comic-2.png')
        img(src='/img/img--comic-3.png')
        
      p This is usually in addition to the typical design-y stuff of user journeys, gray wires to hifi mocks, iconography and logo design, and UXR planning/interviews.
      
      p In short, I'm a designer whose had hands in pretty much all parts of the product development pipeline. I don't necessarily recommend doing all of the above at once, but it has made me confident in contributing in many different disciplines.

      figure.img-group
        img(src='/img/img--comic-4.png')
            
      .work-section
        h2 Work history & education
        .work-block
          .work-block-top
            .work-block-title Personal time off
            .work-block-date 2021-present
          .work-block-bottom Art, comics, learning 
          
        .work-block
          .work-block-top
            .work-block-title IBM
            .work-block-date 2016-2021
          .work-block-bottom Product design, Front-end development, Squad leadership

        .work-block
          .work-block-top
            .work-block-title Sage
            .work-block-date 2016
          .work-block-bottom Visual design
          
        .work-block
          .work-block-top
            .work-block-title Macquarium
            .work-block-date 2016
          .work-block-bottom Contracted design, Front-end development
          
        .work-block
          .work-block-top
            .work-block-title Digital Scientists
            .work-block-date 2013-2015
          .work-block-bottom Product design, Front-end development
          
        .work-block.education-block
          .work-block-top
            .work-block-title Georgia Institute of Technology
            .work-block-date 2009-2013
          .work-block-bottom B.S. Computational Media
          
      p When I'm not working in design/dev, I enjoy making art and playing games. Lately I've been learning some aspects of game development, including 3D modeling, character rigging, and Unreal Engine.
      
      p I currently live in the greater Atlanta area with my wife and dog, but lately we've been looking to move to the West Coast or Pacific Northwest. If you'd like to chat, please reach out at #[a.link(href='mailto:zevin.work@gmail.com' target='_blank') zevin.work@gmail.com].

      .prev-next
        a.next-button(href='verity.html')
          span.prev-next-button__label NEXT
          span.prev-next-button__text Verity
          .prev-next-icon
            include ../img/icon--verity.svg
