doctype html
html(lang="en")
  head
    title Kevin Zhou
  body
    .case-container.ds-co
      //- .m-header
      .case-header
        .case-icon
          img(src='/img/work-comic.svg')
      .case-intro
        .case-title EGGS ON SALE
        .case-subtitle personal webcomic
        ul.case-tags
          li illustration
      .case-body
        p In the Fall of 2015, I started a webcomic series on Tapastic called Eggs on Sale. It's a slice of life, gag-style comic of people and events in my life that I blow way out of proportion.
        img(src='/img/case-comic-1.jpg')
      .case-footer