doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/work.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/main.js')
  body
    //- #menu.active
    //-   .logo-icon
    //-     img(src='/img/menu-icon.svg')
    //-   ul.page-links
    //-     li
    //-       .marker
    //-       a(href='/') ABOUT
    //-     li
    //-       .marker
    //-       a(href='/work.html') WORK
    //-     li
    //-       .marker
    //-       a(href='#') CONTACT

    .case-container.ds-co
      .case-header
        .case-icon
          img(src='/img/work-ds-orange.svg')
      .case-intro
        .case-title DIGITAL SCIENTISTS COMPANY PAGE
        .case-subtitle company page redesign
        ul.case-tags
          li web design
          li illustration
          li photography
      .case-body
        p After I transitioned to contract work with Digital Scientists, I redesigned several pages on the company site.  Previously a 'Team' page, this section of the site was dedicated to display aspects of company ideology, culture, members, and community.
        p In the process of establishing a newer look and motif for the site, I repeated thin bounding strokes on most elements. The icon illustrations also set a secondary palette to work with.  I had taken the team photos from the previous iteration of this page, so we simply ported them over.
        img(src='/img/case-ds-company.jpg')
      .case-footer