doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/work.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/main.js')
  body
    //- #menu.active
    //-   .logo-icon
    //-     img(src='/img/menu-icon.svg')
    //-   ul.page-links
    //-     li
    //-       .marker
    //-       a(href='/') ABOUT
    //-     li
    //-       .marker
    //-       a(href='/work.html') WORK
    //-     li
    //-       .marker
    //-       a(href='#') CONTACT

    .case-container
      .case-header
        .case-icon
          img(src='/img/work-ds-icon.svg')
      .case-intro
        .case-title DIGITAL SCIENTISTS COMPANY PAGE
        .case-subtitle company and blog page redesign
        ul.case-tags
          li web design
          li illustration
          li animation
      .case-body
        p Lorem ipsum dolor sit amet, ne commune adolescens vel, nec audire tincidunt ex, aeterno accumsan scribentur in mei. Ex stet prima vulputate est. Vix zril detracto id. Vide cibo vituperatoribus ex mea, qui an fugit detraxit. Usu te alia rationibus, in erant accusamus evertitur vel. Ut eum diam elitr persius.
        img(src='/img/work-ds-icon.svg')