doctype html
html(lang="en")
  head
  body
    .case-container.ds-co
      //- .m-header
      .case-header
        .case-icon
          img(src='/img/work-gng.svg')
      .case-intro
        .case-title GEORGIA NATURAL GAS
        .case-subtitle web development for site refresh
        ul.case-tags
          li front-end-development
      .case-body
        p
          | While I was a contractor for <a href='http://macquarium.com' target='_blank'>Macquarium</a>, I did both Visual Design and Front-end Development work as needed. One of the projects I had a main role in was the development for the new Georgia Natural Gas site. In addition to building many important parts of the site, like the header/footer and several page layouts, I also did visual QA in-browser and defined/implemented responsive behavior.
          </br>
          </br>
          <a href='http://gng.com' target='_blank'>view the site here</a>
      img.wide(src='/img/case-gng.jpg')
      .case-footer