doctype html
html(lang="en")
  head
    title Kevin Zhou
  body
    .case-container.ds-co
      //- .m-header
      .case-header
        .case-icon
          img(src='/img/work-hubbell.svg')
      .case-intro
        .case-title HPS SELECT - CONNECTOR SELECTOR
        .case-subtitle new feature to Hubbell catalog app
        ul.case-tags
          li ux design
          li mobile/tablet
      .case-body
        p Hubbell Power Systems came to us to add a feature to their parts catalog app - an adaptation of a paper configurator wheel that electricians use to replace components on utility poles.
        img(src='/img/case-hubbell-wheel.jpg')
        p We had to ensure that there wasn't a huge learning curve to go from the analog selectors to the one in the app. Keeping the general flow of steps the same was important in maintaining familiarity.
      img.wide(src='/img/case-hubbell-wires.jpg')
      .case-body
        p We kept the analog action of the wheel and reinvented it into a horizontal ticker bar. The results produced from each configuration would link to the existing SKU pages of the greater app. To further smoothen the transition, we included a tutorial that would load on first use.
        img(src='/img/case-hubbell-screen.jpg')
      .case-footer