doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/work.css')
    link(rel='icon', href='/img/favicon-152.png', sizes='152x152')
    link(rel='apple-touch-icon-precomposed', href='/img/favicon-152.png')
    link(rel='msapplication-TileColor', content='#ffffff')
    link(rel='msapplication-TileImage', content='/img/favicon-144.png')
    //- link(rel='icon', type='image/png', href='/img/favicon-32.png', sizes='32x32')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/main.js')
  body
    #menu.active
      .logo-icon
      .menu-label MENU
      ul.page-links
        li
          .marker
          a(href='/') ABOUT
        li
          .marker
          a(href='/work/') WORK
        li
          .marker
          a(href='#contact-section') CONTACT

    .work-container
      input(type='radio' id='all' name='type' checked)
      label(for='all') ALL
      input(type='radio' id='ux' name='type')
      label(for='ux') UX
      input(type='radio' id='visual' name='type')
      label(for='visual') VISUAL
      input(type='radio' id='misc' name='type')
      label(for='misc') MISC
      .buffer

      .work-item.ds-site.not-ux.not-misc
        a
        img(src='/img/work-ds-blue.svg')
        .work-info-wrap
          .work-info
            .work-title DIGITAL SCIENTISTS SITE UPDATES
            .work-desc company and blog page redesign
      .work-item.eprove.not-misc
        a
        img(src='/img/work-eprove.svg')
        .work-info-wrap
          .work-info
            .work-title ePROVE APP SUITE
            .work-desc software platform for school improvement
      .work-item.source.not-ux.not-misc
        a
        img(src='/img/work-source.svg')
        .work-info-wrap
          .work-info
            .work-title SOURCE LOGO
            .work-desc identity work for quarterly online publication
      .work-item.napa.not-misc
        a
        img(src='/img/work-napa.svg')
        .work-info-wrap
          .work-info
            .work-title NAPA KNOW HOW
            .work-desc temporary makeover of mobile site and app
      .work-item.hubbell.not-vis.not-misc
        a
        img(src='/img/work-hubbell.svg')
        .work-info-wrap
          .work-info
            .work-title HPS SELECT - CONNECTOR SELECTOR
            .work-desc new feature to Hubbell catalog app
      .work-item.video.not-ux.not-vis
        a
        img(src='/img/work-video.svg')
        .work-info-wrap
          .work-info
            .work-title ASSORTED VIDEOGRAPHY
            .work-desc samples of video and film work
      .work-item.anim.not-ux.not-vis
        a
        img(src='/img/work-anim.svg')
        .work-info-wrap
          .work-info
            .work-title ASSORTED ANIMATION
            .work-desc samples of motion graphics and animation work
      .work-item.comic.not-ux.not-vis
        a
        img(src='/img/work-comic.svg')
        .work-info-wrap
          .work-info
            .work-title EGGS ON SALE
            .work-desc personal webcomic

    a(name='contact-section')
    .footer
      .contact-block
        | Let's chat! You can contact me via email at <a class='email-link'>qkzhou27@gmail.com</a> or <a class='linkedin-link' href='http://linkedin.com/in/qkzhou'>linkedin</a>
      .contact-button GET IN TOUCH
      .end-msg designed and built by Kevin Zhou
    textarea.email-select qkzhou27@gmail.com

    .copy-dialog email copied to clipboard

    #m-overlay
    #modal
      img.m-close(src='/img/case-back.svg')
      #modal-content