doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/work.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/main.js')
  body
    #menu.active
      .logo-icon
      .menu-label MENU
      ul.page-links
        li
          .marker
          a(href='/') ABOUT
        li
          .marker
          a(href='/work/') WORK
        li
          .marker
          a(href='/#contact-section') CONTACT

    .work-container
      input(type='radio' id='all' name='type' checked)
      label(for='all') ALL
      input(type='radio' id='ux' name='type')
      label(for='ux') UX
      input(type='radio' id='visual' name='type')
      label(for='visual') VISUAL
      input(type='radio' id='misc' name='type')
      label(for='misc') MISC
      .buffer

      .work-item.ds-company
        a
        img(src='/img/work-ds-orange.svg')
        .work-info-wrap
          .work-info
            .work-title DIGITAL SCIENTISTS COMPANY PAGE
            .work-desc company page redesign

      .work-item.ds-blog
        a
        img(src='/img/work-ds-blue.svg')
        .work-info-wrap
          .work-info
            .work-title DIGITAL SCIENTISTS BLOG PAGE
            .work-desc blog page redesign
      
      .work-item.hubbell
        a
        img(src='/img/work-hubbell.svg')
        .work-info-wrap
          .work-info
            .work-title HPS SELECT - CONNECTOR SELECTOR
            .work-desc new feature to Hubbell catalog app
      .work-item.napa
        a
        img(src='/img/work-napa.svg')
        .work-info-wrap
          .work-info
            .work-title NAPA KNOW HOW
            .work-desc temporary makeover of mobile site and app

    .contact-block
      h2
        | Let's chat! You can contact me via email at <a class='email-link'>qkzhou27@gmail.com</a> or <a class='linkedin-link' href='http://linkedin.com/in/qkzhou'>linkedin</a>

    a(name='contact-section')
    .footer
      .contact-button GET IN TOUCH
      ul.social-links
        li
          a#linkedin(href='http://linkedin.com/in/qkzhou')
            img(src='/img/linked_in.svg')
        li
          a#github(href='http://github.com/zenpudding')
            img(src='/img/github.svg')
        li
          a#mail-to(href='mailto:zenpudding@gmail.com')
            img(src='/img/mail-icon.svg')
      .end-msg designed and developed by Kevin Zhou
    textarea.email-select qkzhou27@gmail.com

    .copy-dialog email copied to clipboard

    #m-overlay
    #modal
      img.m-close(src='/img/case-back.svg')
      #modal-content