doctype html
html(lang="en")
  head
    title Kevin Zhou
  body
    .case-container.ds-co
      //- .m-header
      .case-header
        .case-icon
          img(src='/img/work-napa.svg')
      .case-intro
        .case-title NAPA KNOW HOW
        .case-subtitle temporary makeover of mobile site and app
        ul.case-tags
          li ux design
          li front-end development
      .case-body
        p NAPA Auto Parts wanted to clean up their mobile storefront and improve scores in the App Store. In just a matter of a few weeks we were able to make a few improvements without breaking anything, which was exactly what they wanted.
        p Since NAPA wanted a quick and dirty makeover until the next revision of the site and app, we decided to insert javascript to move around existing elements instead of replacing it with something new.
        img(src='/img/case-napa-beforeafter.jpg')
      img.wide(src='/img/case-napa-screens.jpg')
      .case-footer