doctype html
html(lang="en")
  head
    title Kevin Zhou
  body
    .case-container.ds-co
      //- .m-header
      .case-header
        .case-icon
          img(src='/img/work-video.svg')
      .case-intro
        .case-title ASSORTED VIDEOGRAPHY
        .case-subtitle samples of video and film work
        ul.case-tags
          li videography
      .case-body
        p I've been a film enthusiast since college, where I had a few classes on history and production. Plenty of practice followed with club activity recordings, fraternity recruitment videos, and participation in Campus Movie Fest. While working as a UX/Visual Designer, I had the opportunity to use some of these skills creating video assets for sites and apps.
        p An example is the usage of video backgrounds for a header carousel on a page for the Digital Scientists website. Since we were providing a service called "Contextual Solution", ambient video served as the "context" for taglines and apps.
      video.wide(autoplay='autoplay', loop='loop', poster='/img/case-video-1-static.jpg', src='/img/case-video-1.mp4', type='video/mp4', preload='auto')
      .case-body
        p At Digital Scientists, we periodically worked on our in-house app, an online shopping tool called Rately. Many times, it was hard to describe the app to others, in which case pointing to a video helped greatly convey its functionalities short of them actually using the app. We used live footage for tutorials that we posted on the Rately blog, and used screen-only footage for the landing site.
      video.wide(autoplay='autoplay', loop='loop', poster='/img/case-video-2-static.jpg', src='/img/case-video-2.mp4', type='video/mp4', preload='auto')
      .case-body
        p Filming a narrative is a different beast than just recording raw footage. Editing to form a cohesive story, as well as finding creative ways to emulate expensive film equipment was a humbling experience for every project. Below are a few examples of works I've made.
      video.wide(autoplay='autoplay', loop='loop', poster='/img/case-video-3-static.jpg', src='/img/case-video-3.mp4', type='video/mp4', preload='auto')
      .case-footer