head
  title zevin.work
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='robots', content='noindex')
  link(rel='stylesheet', href='styles/main.css')
  link(rel='icon', href='/favicon.ico', sizes='48x48')
  link(rel='icon' href='/img/favicon.svg', sizes='any', type='image/svg+xml')
  link(rel='apple-touch-icon' href='/img/apple-touch-icon.png')
  link(rel='manifest' href='/site.webmanifest')
  script(src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous")
  script(src='js/main.js')
