html, body {
  font-family: 'source-sans-pro','Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%; }

h1 {
  font-size: 60px;
  font-weight: 500;
  color: #6cc989;
  text-align: center; }

h2 {
  font-size: 38px;
  font-weight: 300;
  color: #555;
  text-align: center; }

#menu {
  position: fixed;
  transition: all 0.4s ease;
  z-index: 999;
  top: -180px;
  padding: 2% 0 0 2%;
  width: 70%;
  max-width: 100px; }
  #menu:hover {
    max-width: 380px; }
    #menu:hover .logo-icon {
      opacity: 0.7; }
    #menu:hover ul.page-links {
      height: 9em;
      margin-top: 1em;
      opacity: 1; }
      #menu:hover ul.page-links a {
        display: block; }
  #menu .logo-icon {
    transition: opacity 0.4s ease; }
    #menu .logo-icon img {
      width: 100px;
      height: 100px; }
  #menu ul.page-links {
    transition: all 0.5s ease;
    font-size: 36px;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    opacity: 0;
    margin: 0;
    box-shadow: 8px 8px 9px rgba(120, 120, 120, 0.1);
    height: 0; }
    #menu ul.page-links li {
      transition: all 0.4s ease;
      width: 100%;
      height: 33.33%;
      position: relative;
      background: #555; }
      #menu ul.page-links li:hover {
        background: #777; }
        #menu ul.page-links li:hover .marker {
          display: block; }
      #menu ul.page-links li .marker {
        position: absolute;
        height: 100%;
        width: 0.5em;
        left: 0;
        background: #999;
        display: none; }
      #menu ul.page-links li a {
        transition: all 0.4s ease;
        display: none;
        text-decoration: none;
        position: absolute;
        width: 100%;
        color: #aaa;
        padding: 1em;
        padding-left: 1.5em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #menu ul.page-links li a:hover {
          color: #fff; }
  #menu.active {
    top: 0; }

.splash {
  width: 100%;
  height: 90%;
  position: relative;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.home-center {
  height: 500px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center; }
  .home-center .splash-vid {
    height: 400px;
    width: 400px; }
  .home-center .splash-desc {
    width: 336px;
    height: 88px;
    margin: auto;
    padding-top: 24px;
    font-size: 22px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    color: #6cc989; }

.down-arrow {
  position: relative;
  margin: auto;
  width: 140px;
  margin-top: -30px; }
  .down-arrow img {
    width: 140px; }

.intro-block {
  width: 80%;
  margin: auto;
  padding: 160px 0; }

.design-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 50%; }
  .design-container .block {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    position: absolute; }
    .design-container .block.ux {
      background: #57bfb1;
      left: 0; }
    .design-container .block.vis {
      background: #6ed5a7;
      right: 0; }
    .design-container .block .info {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .design-container .block .info.title {
        font-size: 42px;
        transition: all 0.5s ease; }
      .design-container .block .info.subtitle {
        transition: all 0.5s ease;
        padding-top: 2em;
        font-size: 28px;
        opacity: 0.5;
        font-weight: 300;
        opacity: 0; }
    .design-container .block .go-dialog-area {
      transition: all 0.5s ease;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.3); }
    .design-container .block .go-dialog {
      transition: all 0.5s ease;
      text-align: center;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      font-size: 28px;
      opacity: 0; }
    .design-container .block.active .title {
      padding-bottom: 1em; }
    .design-container .block.active .subtitle {
      opacity: 0.8; }
    .design-container .block.active .go-dialog-area {
      height: 120px; }
    .design-container .block.active .go-dialog {
      opacity: 1; }

.mid-block {
  width: 80%;
  margin: auto;
  padding: 160px 0; }

.misc-container {
  width: 100%;
  max-width: 1600px;
  margin: auto; }
  .misc-container .misc-block {
    width: 28%;
    height: 0;
    padding-bottom: 28%;
    margin: 2.5%;
    display: inline-block; }
    .misc-container .misc-block .placeholder {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background: #eee; }
    .misc-container .misc-block p {
      text-align: center;
      font-size: 30px;
      color: #333; }

.footer {
  width: 100%;
  height: 200px;
  background: #555;
  margin-top: 160px;
  position: relative; }
  .footer a.contact-button {
    position: absolute;
    width: 400px;
    top: 30px;
    left: 0;
    right: 0;
    padding: 30px 80px;
    text-align: center;
    font-size: 30px;
    color: #555;
    margin: auto;
    background: #999; }

.social-links {
  text-align: center;
  padding: 0;
  margin-top: 50px; }
  .social-links li {
    display: inline-block;
    vertical-align: middle; }
  .social-links a {
    width: 50px;
    margin: 0 10px 0 10px;
    display: inline-block;
    height: 50px;
    background: #333;
    border-radius: 999px;
    transition: all 0.4s ease; }
    .social-links a:hover img {
      opacity: 1; }
  .social-links img {
    transition: opacity 0.4s ease;
    opacity: 0.5;
    height: 100%; }
  .social-links #linkedin img {
    width: 28px; }
  .social-links #linkedin:hover {
    background: #0065a1; }
  .social-links #github img {
    width: 30px; }
  .social-links #github:hover {
    background: #181616; }
  .social-links #mail-to img {
    width: 30px; }
  .social-links #mail-to:hover {
    background: #5AAB67; }
