html, body {
  font-family: 'source-sans-pro','Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%; }

body.modal-open {
  overflow: hidden; }

h1 {
  font-size: 36px;
  color: #333;
  font-weight: 500;
  text-align: left; }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px;
      text-align: center; } }

h2 {
  font-size: 26px;
  color: #555;
  font-weight: 300;
  text-align: left; }
  @media (min-width: 768px) {
    h2 {
      font-size: 38px;
      text-align: center; } }

.wf-loading {
  visibility: hidden; }

.wf-active, .wf-inactive {
  visibility: visible; }

#menu {
  position: fixed;
  transition: all 0.4s ease;
  z-index: 5;
  top: -180px;
  padding: 5% 0 0 5%;
  width: 70px; }
  @media (min-width: 768px) {
    #menu {
      padding: 2% 0 0 2%;
      width: 100px; } }
  #menu.expanded {
    width: 280px; }
    @media (min-width: 768px) {
      #menu.expanded {
        width: 380px; } }
    #menu.expanded .logo-icon {
      opacity: 0.8;
      background-image: url('/img/menu-close.svg'); }
    #menu.expanded ul.page-links {
      height: 9em;
      opacity: 1; }
      #menu.expanded ul.page-links a {
        display: block; }
  #menu .logo-icon {
    transition: opacity 0.4s ease;
    background: url('/img/menu-icon.svg') no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    cursor: pointer; }
    @media (min-width: 768px) {
      #menu .logo-icon {
        width: 100px;
        height: 100px; } }
  #menu .menu-label {
    transition: opacity 0.5s ease;
    font-size: 18px;
    text-align: center;
    width: 70px;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 5px;
    padding: 0.2em 0;
    background: #fff;
    font-weight: 300;
    color: #000;
    opacity: 0.9; }
    #menu .menu-label.hidden {
      opacity: 0; }
    @media (min-width: 768px) {
      #menu .menu-label {
        width: 100px;
        font-size: 24px;
        padding: 0.2em 0; } }
  #menu ul.page-links {
    transition: all 0.5s ease;
    font-size: 36px;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    opacity: 0;
    margin: 0;
    box-shadow: 8px 8px 9px rgba(120, 120, 120, 0.1);
    height: 0; }
    #menu ul.page-links li {
      transition: all 0.4s ease;
      width: 100%;
      height: 33.33%;
      position: relative;
      background: #555; }
      #menu ul.page-links li:hover {
        background: #777; }
        #menu ul.page-links li:hover .marker {
          display: block; }
      #menu ul.page-links li .marker {
        position: absolute;
        height: 100%;
        width: 0.5em;
        left: 0;
        background: #999;
        display: none; }
      #menu ul.page-links li a {
        transition: all 0.4s ease;
        display: none;
        text-decoration: none;
        position: absolute;
        width: 68%;
        color: #aaa;
        padding: 1em;
        padding-left: 1.5em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #menu ul.page-links li a:hover {
          color: #fff; }
        @media (min-width: 768px) {
          #menu ul.page-links li a {
            width: 76%; } }
  #menu.active {
    top: 0; }

.splash {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background: #fff; }

.home-center {
  width: 200px;
  margin: 60px auto;
  position: relative;
  left: 0;
  right: 0;
  text-align: center; }
  @media (min-width: 370px) {
    .home-center {
      width: 300px; } }
  @media (min-width: 1024px) {
    .home-center {
      width: 480px;
      margin: 80px auto; } }
  .home-center .vid-overlay {
    transition: opacity 1s ease;
    position: relative;
    opacity: 1;
    width: 100%;
    z-index: 5; }
    .home-center .vid-overlay.active {
      opacity: 0; }
  .home-center .splash-vid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; }
  .home-center .splash-desc {
    width: 85%;
    height: 2em;
    margin: auto;
    padding: 0;
    line-height: 2em;
    font-size: 20px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    color: #333; }
    @media (min-width: 370px) {
      .home-center .splash-desc {
        font-size: 30px; } }
    @media (min-width: 1024px) {
      .home-center .splash-desc {
        font-size: 46px; } }
  .home-center .splash-desc-under {
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    font-weight: 300;
    color: #999; }
    @media (min-width: 370px) {
      .home-center .splash-desc-under {
        font-size: 24px; } }
    @media (min-width: 1024px) {
      .home-center .splash-desc-under {
        font-size: 30px; } }

.splash-buffer {
  height: 300px;
  background: #6cc989;
  position: relative; }
  .splash-buffer .down-arrow {
    position: absolute;
    margin: auto;
    top: -1px;
    left: 0;
    right: 0;
    width: 140px; }
    .splash-buffer .down-arrow img {
      width: 140px; }

.intro-block {
  width: 80%;
  margin: auto;
  padding: 60px 0; }
  @media (min-width: 768px) {
    .intro-block {
      padding: 160px 0; } }

.design-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 200%; }
  @media (min-width: 1024px) {
    .design-container {
      padding-bottom: 50%; } }
  .design-container .block {
    cursor: pointer;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: absolute; }
    @media (min-width: 1024px) {
      .design-container .block {
        width: 50%;
        padding-bottom: 50%; } }
    .design-container .block.ux {
      background: #57bfb1;
      left: 0; }
    .design-container .block.vis {
      background: #6ed5a7;
      right: 0;
      bottom: 0; }
    .design-container .block .info {
      position: absolute;
      width: 70%;
      max-width: 460px;
      margin: auto;
      left: 0;
      right: 0;
      color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 1024px) {
        .design-container .block .info {
          width: 320px; } }
      @media (min-width: 1600px) {
        .design-container .block .info {
          width: 520px; } }
      .design-container .block .info .title {
        font-size: 30px;
        font-size: 9vw; }
        @media (min-width: 415px) {
          .design-container .block .info .title {
            font-size: 30px;
            font-size: 7vw; } }
        @media (min-width: 1024px) {
          .design-container .block .info .title {
            font-size: 40px; } }
        @media (min-width: 1600px) {
          .design-container .block .info .title {
            font-size: 58px; } }
      .design-container .block .info ul.sublist {
        opacity: 0.8;
        line-height: 2;
        font-size: 20px;
        font-size: 6vw;
        padding-left: 1em;
        font-weight: 300;
        list-style: square;
        margin-bottom: 0;
        margin-top: 0.3em; }
        @media (min-width: 415px) {
          .design-container .block .info ul.sublist {
            font-size: 20px;
            font-size: 5vw; } }
        @media (min-width: 1024px) {
          .design-container .block .info ul.sublist {
            font-size: 28px; } }
        @media (min-width: 1600px) {
          .design-container .block .info ul.sublist {
            font-size: 40px; } }
      .design-container .block .info .go-dialog-box {
        display: block;
        position: relative;
        opacity: 1;
        height: 60px;
        margin: auto;
        margin-top: 0.7em;
        background-color: rgba(255, 255, 255, 0.2); }
        @media (min-width: 415px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 1.5em;
            height: 80px; } }
        @media (min-width: 1024px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 30px;
            margin-bottom: -30px; } }
        @media (min-width: 1600px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 80px;
            margin-bottom: -80px; } }
        .design-container .block .info .go-dialog-box .go-dialog {
          position: absolute;
          font-size: 16px;
          height: 2.4em;
          width: 128px;
          line-height: 1.2em;
          margin: auto;
          left: 0;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media (min-width: 500px) {
            .design-container .block .info .go-dialog-box .go-dialog {
              font-size: 20px;
              width: 160px; }
              .design-container .block .info .go-dialog-box .go-dialog .d-icon img {
                width: 40px !important; } }
          .design-container .block .info .go-dialog-box .go-dialog .d-icon {
            display: inline-block;
            float: left;
            height: 100%;
            vertical-align: middle; }
            .design-container .block .info .go-dialog-box .go-dialog .d-icon img {
              width: 30px;
              height: 100%;
              vertical-align: middle; }
          .design-container .block .info .go-dialog-box .go-dialog .d-label {
            display: inline-block;
            padding-left: 0.8em;
            width: 5em; }

.mid-block {
  width: 80%;
  margin: auto;
  padding: 160px 0; }

.misc-container {
  width: 100%;
  max-width: 1600px;
  margin: auto; }
  .misc-container .misc-block {
    width: 28%;
    height: 0;
    padding-bottom: 28%;
    margin: 2.5%;
    display: inline-block; }
    .misc-container .misc-block .placeholder {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background: #eee; }
    .misc-container .misc-block p {
      text-align: center;
      font-size: 30px;
      color: #333; }

.footer {
  width: 100%;
  height: 200px;
  background: #555;
  margin-top: 160px;
  position: relative; }
  .footer a.contact-button {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #555;
    margin: auto;
    background: #999; }

.social-links {
  text-align: center;
  padding: 0;
  margin-top: 50px; }
  .social-links li {
    display: inline-block;
    vertical-align: middle; }
  .social-links a {
    width: 50px;
    margin: 0 10px 0 10px;
    display: inline-block;
    height: 50px;
    background: #333;
    border-radius: 999px;
    transition: all 0.4s ease; }
    .social-links a:hover img {
      opacity: 1; }
  .social-links img {
    transition: opacity 0.4s ease;
    opacity: 0.5;
    height: 100%; }
  .social-links #linkedin img {
    width: 28px; }
  .social-links #linkedin:hover {
    background: #0065a1; }
  .social-links #github img {
    width: 30px; }
  .social-links #github:hover {
    background: #181616; }
  .social-links #mail-to img {
    width: 30px; }
  .social-links #mail-to:hover {
    background: #5AAB67; }
