.work-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 120px 0 120px; }
  @media (min-width: 514px) {
    .work-container {
      padding-top: 140px; } }
  @media (min-width: 768px) {
    .work-container {
      padding-top: 180px; } }
  .work-container input[type='radio'] {
    display: none; }
  .work-container input[type='radio']:checked + label {
    background: #333;
    color: #fff; }
  .work-container label {
    display: block;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #555;
    padding: 1em 0;
    cursor: pointer; }
    @media (min-width: 514px) {
      .work-container label {
        font-size: 24px; } }
    @media (min-width: 768px) {
      .work-container label {
        font-size: 30px;
        padding: 1.5em 0; } }
    .work-container label:hover {
      background: #f5f5f5; }
  .work-container input[type='radio'][id='ux']:checked ~ .not-ux {
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none; }
  .work-container input[type='radio'][id='visual']:checked ~ .not-vis {
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none; }
  .work-container input[type='radio'][id='misc']:checked ~ .not-misc {
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none; }
  .work-container .buffer {
    height: 80px; }
    @media (min-width: 514px) {
      .work-container .buffer {
        height: 100px; } }
    @media (min-width: 768px) {
      .work-container .buffer {
        height: 140px; } }
    @media (min-width: 1024px) {
      .work-container .buffer {
        height: 160px; } }
  .work-container .work-item {
    width: 97%;
    background: #f5f5f5;
    display: block;
    position: relative;
    margin-top: 20px;
    opacity: 1;
    height: 180px;
    pointer-events: initial; }
    @media (min-width: 768px) {
      .work-container .work-item {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        height: 200px;
        margin-top: 40px; } }
    @media (min-width: 1024px) {
      .work-container .work-item {
        height: 300px; } }
    @media (min-width: 1400px) {
      .work-container .work-item {
        height: 360px;
        margin-top: 60px; } }
    .work-container .work-item a {
      -moz-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 5;
      display: block;
      opacity: 0;
      background: #fff;
      cursor: pointer; }
      .work-container .work-item a:hover {
        opacity: 0.3; }
    .work-container .work-item img {
      display: none; }
      @media (min-width: 768px) {
        .work-container .work-item img {
          display: inline-block;
          height: 100%; } }
    @media (max-width: 767px) {
      .work-container .work-item.ds-site {
        border-left: 8px solid #1ebbc4; } }
    @media (max-width: 767px) {
      .work-container .work-item.hubbell {
        border-left: 8px solid #ffe44c; } }
    @media (max-width: 767px) {
      .work-container .work-item.napa {
        border-left: 8px solid #0051a2; } }
    @media (max-width: 767px) {
      .work-container .work-item.eprove {
        border-left: 8px solid #aaa; } }
    @media (max-width: 767px) {
      .work-container .work-item.source {
        border-left: 8px solid #333; } }
    @media (max-width: 767px) {
      .work-container .work-item.video {
        border-left: 8px solid #dd7676; } }
    @media (max-width: 767px) {
      .work-container .work-item.anim {
        border-left: 8px solid #4cc181; } }
    @media (max-width: 767px) {
      .work-container .work-item.comic {
        border-left: 8px solid #f7d74c; } }
    .work-container .work-item .work-info-wrap {
      display: block;
      position: relative;
      height: 100%; }
      @media (min-width: 768px) {
        .work-container .work-item .work-info-wrap {
          display: inline-block;
          position: static; } }
      .work-container .work-item .work-info-wrap .work-info {
        position: absolute;
        display: block;
        font-size: 24px;
        padding: 0 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media (min-width: 768px) {
          .work-container .work-item .work-info-wrap .work-info {
            padding: 0 40px;
            font-size: 28px; } }
        @media (min-width: 1024px) {
          .work-container .work-item .work-info-wrap .work-info {
            position: absolute;
            display: inline-block;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 34px;
            padding: 0 60px; } }
        @media (min-width: 1400px) {
          .work-container .work-item .work-info-wrap .work-info {
            font-size: 42px; } }
        .work-container .work-item .work-info-wrap .work-info .work-title {
          font-weight: 700;
          margin-bottom: 6px;
          line-height: 1.2;
          color: #000; }
        .work-container .work-item .work-info-wrap .work-info .work-desc {
          font-size: 18px;
          color: #555;
          font-weight: 300; }
          @media (min-width: 768px) {
            .work-container .work-item .work-info-wrap .work-info .work-desc {
              font-size: 22px; } }
          @media (min-width: 1024px) {
            .work-container .work-item .work-info-wrap .work-info .work-desc {
              font-size: 26px; } }
          @media (min-width: 1400px) {
            .work-container .work-item .work-info-wrap .work-info .work-desc {
              font-size: 30px; } }

.case-container {
  background: #fff; }

.case-header {
  width: 100%;
  height: 110px;
  background: #555;
  position: relative;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .case-header {
      height: 200px;
      margin-bottom: 140px; } }
  .case-header .case-icon {
    width: 80px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; }
    @media (min-width: 768px) {
      .case-header .case-icon {
        width: 200px; } }
    .case-header .case-icon img {
      width: 100%; }

.case-intro {
  width: 86%;
  margin: auto;
  text-align: center;
  font-size: 30px; }
  @media (min-width: 768px) {
    .case-intro {
      font-size: 52px; } }
  .case-intro .case-title {
    font-weight: 700;
    line-height: 1.2; }
  .case-intro .case-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #777; }
    @media (min-width: 768px) {
      .case-intro .case-subtitle {
        font-size: 32px; } }
  .case-intro ul.case-tags {
    list-style: none;
    padding: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 20px; }
    .case-intro ul.case-tags li {
      display: inline-block;
      font-size: 18px;
      color: #333;
      background: #ddd;
      padding: 0.5em 1.5em;
      margin-top: 0.3em;
      max-width: 10em;
      font-weight: 300; }
      @media (min-width: 768px) {
        .case-intro ul.case-tags li {
          font-size: 24px; } }

.case-body {
  width: 86%;
  max-width: 1200px;
  margin: auto;
  padding-top: 0; }
  @media (min-width: 768px) {
    .case-body {
      padding-top: 2px; } }
  .case-body p {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin: 1.5em 0;
    line-height: 1.6; }
    @media (min-width: 768px) {
      .case-body p {
        font-size: 28px; } }
  .case-body img {
    width: 100%;
    margin: 20px 0; }
    @media (min-width: 768px) {
      .case-body img {
        margin: 40px 0; } }

.wide {
  margin: 20px 0;
  width: 100%; }
  @media (min-width: 768px) {
    .wide {
      margin: 40px 0; } }

.case-footer {
  height: 60px;
  background: #555;
  margin-top: 60px; }

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 30;
  top: 0;
  display: none; }
  #modal.active {
    display: block;
    overflow-y: auto; }

#m-overlay {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  width: 100%;
  height: 0;
  z-index: 999;
  top: 50%;
  background: #555;
  opacity: 1;
  pointer-events: none; }
  #m-overlay.active {
    height: 100%;
    top: 0; }
  #m-overlay.small {
    opacity: 0; }

.m-header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: #555; }

.m-close {
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  width: 60px;
  height: 60px;
  position: fixed;
  background: #fff;
  top: 20px;
  left: 20px;
  z-index: 999;
  opacity: 0;
  cursor: pointer; }
  @media (min-width: 768px) {
    .m-close {
      width: 100px;
      height: 100px;
      top: 45px;
      left: 45px; } }
  .m-close.active {
    opacity: 0.8; }
