doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='styles/main.css')
    link(rel='apple-touch-icon-precomposed', href='/img/favicon-152.png')
    link(rel='msapplication-TileColor', content='#ffffff')
    link(rel='msapplication-TileImage', content='/img/favicon-144.png')
    link(rel='icon', type='image/png', href='/img/favicon-32.png', sizes='32x32')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/main.js')
  body
    #menu
      .logo-icon
      .menu-label MENU
      ul.page-links
        li
          .marker
          a(href='/') ABOUT
        li
          .marker
          a(href='/work/') WORK
        li
          .marker
          a(href='/#contact-section') CONTACT

    .splash
      .left
        .info
          .name Kevin Zhou
          .title
            | UX &middot; VISUAL DESIGNER
          ul.splash-links
            li
              a.active(href='/') ABOUT
            li
              a(href='/work/') WORK
            li
              a(href='#contact-section') CONTACT

      .right
        img.vid-overlay(src='img/dummy-white.svg')
        .vid
          video(class='splash-vid', autoplay='autoplay', loop='loop', poster='img/logo-poster.svg', src='img/home-anim-small.mp4', type='video/mp4', preload='auto')
        .portrait
    
    .section.about
      .block.dupe
        .text
          h2 ABOUT ME
          p
            | I'm a mid 20s creative professional based in Atlanta, GA. After getting my B.S. in Computational Media at Georgia Tech, I spent two years at <a href='http://digitalscientists.com/'>Digital Scientists</a> before becoming an indepent contractor.
      .block
        img(src='/img/about-img.jpg')
      .block.dupe
        .text
          h2 ABOUT ME
          p
            | I'm a mid 20s creative professional based in Atlanta, GA. After getting my B.S. in Computational Media at Georgia Tech, I spent two years at <a href='http://digitalscientists.com/'>Digital Scientists</a> before becoming an indepent contractor.

    .section.about2
      .block
        .text
          h2 WHAT I DO
          p
            | A variety of things, really. I mostly design for apps and web products, creating wireframes, prototypes, and mockups. Branching off, I also do a little logo design, front-end development, and video production.
          a.button(href='/work/') VIEW PROJECTS
      .block
        img(src='/img/about-img-2.jpg')

    .section.about3
      .block.dupe
        .text
          h2 THINGS I LIKE
          p
            | Many of my personal interests have often found their way into my work, ranging from photo/videography to digital illustration and animation. I also publish a webcomic, which you can read on <a href='http://tapastic.com/series/Eggs-on-Sale'>Tapastic</a>.
      .block
        img(src='/img/about-img-3.jpg')
      .block.dupe
        .text
          h2 THINGS I LIKE
          p
            | Many of my personal interests have often found their way into my work, ranging from photo/videography to digital illustration and animation. I also publish a webcomic, which you can read on <a href='http://tapastic.com/series/Eggs-on-Sale'>Tapastic</a>.

    a(name='contact-section')
    .footer
      .contact-block
        | Let's chat! You can contact me via email at <a class='email-link'>qkzhou27@gmail.com</a> or <a class='linkedin-link' href='http://linkedin.com/in/qkzhou'>linkedin</a>
      .contact-button GET IN TOUCH
      .end-msg designed and built by Kevin Zhou
    textarea.email-select qkzhou27@gmail.com

    .copy-dialog email copied to clipboard