html(lang="en")
  head
    title zevin.work
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='apple-touch-icon-precomposed', href='/img/favicon-152.png')
    link(rel='msapplication-TileColor', content='#ffffff')
    link(rel='msapplication-TileImage', content='/img/favicon-144.png')
    link(rel='icon', type='image/png', href='/img/favicon-32.png', sizes='32x32')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script(src='js/main.js')
  body
    #nav
    p test test test
