html(lang="en")
  head
    title zevin.work
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='apple-touch-icon-precomposed', href='/img/favicon-152.png')
    link(rel='msapplication-TileColor', content='#ffffff')
    link(rel='msapplication-TileImage', content='/img/favicon-144.png')
    link(rel='icon', type='image/png', href='/img/favicon-32.png', sizes='32x32')
    script(src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous")
    script(src='js/main.js')
  body
    nav
      .nav-content-block
        .nav-top
          a.title
            .icon--menu
              include img/icon--menu.svg
            .icon--close
              include img/icon--close.svg
            span.title-a zevin
            span.title-b .about
          button.nav-contact contact
        .nav-links
          ul.nav-link-group
            //- button.contact-link.nav-link-item Contact
            //-   .icon--copy
            li
              a.nav-link-item.active
                span.nav-link-item--text About
          ul.nav-link-group
            .nav-category DESIGN
            li
              a.nav-link-item
                span.nav-link-item--text Bluemine
                span.nav-link-item--tag IBM
            li
              a.nav-link-item
                span.nav-link-item--text Verity
                span.nav-link-item--tag IBM
            //- li
            //-   a.nav-link-item
            //-     span.nav-link-item--text Apex design system
            //-     span.nav-link-item--tag IBM
            li
              a.nav-link-item
                span.nav-link-item--text Agency work
                span.nav-link-item--tag Misc
          ul.nav-link-group
            .nav-category ART
            li
              a.nav-link-item
                span.nav-link-item--text Cupid 9-5
                span.nav-link-item--tag Comic
            li
              a.nav-link-item
                span.nav-link-item--text Eggs on Sale
                span.nav-link-item--tag Comic
            
          ul.nav-link-group
            li
              a.nav-link-item
                span.nav-link-item--text Resume
    
    .main
      h1 Hi, I'm Zevin
        span.subtitle (<strong>Z</strong>hou + K<strong>evin</strong>)
      p I'm a Product Designer who's a bit of a generalist. As someone who cares deeply about how and why things are made, I've somehow repeatedly found myself contributing in practices firmly adjacent of my main practice of UX/UI Design. Some examples include:
  
      .img-group
        img(src='/img/img--comic-1.png')
        img(src='/img/img--comic-2.png')
        img(src='/img/img--comic-3.png')
        
      p This is usually in addition to the typical design-y stuff of user journeys, gray wires to hifi mocks, iconography and logo design, and UXR planning/interviews.
      
      p In short, I'm a designer whose had hands in pretty much all parts of the product development pipeline. I don't necessarily recommend doing all of the above at once, but it has made me confident in contributing in many different disciplines.

      .img-group
        img(src='/img/img--comic-4.png')
          
      p When I'm not working in design/dev, I enjoy making art and playing games. Lately I've been learning some aspects of game development, including 3D modeling, character rigging, and Unreal Engine.
      
      p I currently live in the greater Atlanta area with my wife and dog, but lately we've been looking to move to the West Coast or Pacific Northwest. If you'd like to chat, please reach out at [professional email].
