doctype html
html(lang="en")
  head
    title Kevin Zhou
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/main.js')
  body
    //- .menu
    //- .mousezone
    .splash
    .home-center
      .kz-icon
        img(src='img/kz-icon.svg')
      .kevinzhou KEVIN ZHOU
      .page-links
        ul
          li
            a(href='/ux') UX Design
          li
            a(href='/visual') Visual Design
          li
            a(href='/misc') Miscellaneous
          li
            a(href='/about') About &amp; Contact
      .social-links
        ul
          li
            a#linkedin(href='http://linkedin.com/in/qkzhou')
              img(src='img/linked_in.svg')
          li
            a#github(href='http://github.com/zenpudding')
              img(src='img/github.svg')
          li
            a#mail-to(href='mailto:zenpudding@gmail.com')
              img(src='img/mail-icon.svg')