doctype html
html(lang="en")
  head
    title Kevin Zhou
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/main.js')
  body
    //- .menu
    //- .mousezone
    .splash
    .home-center
      video(class='splash-vid', autoplay='autoplay', loop='loop', src='img/home-anim-small.mp4')
      .splash-desc UX Designer, Visual Artist, Amoeba
    .down-arrow
      img(src='img/down-arrow.svg')
    .intro-block
      h1 Hi, I'm Kevin
      h2 I'm a mid 20s creative professional based in Atlanta, GA.  I do a lot of things, so I consider myself an amoeba with a love of all things creative.
    .design-block
      .ux-block
      .visual-block
      //- .kz-icon
      //-   img(src='img/kz-icon.svg')
      //- .kevinzhou KEVIN ZHOU
      //- ul.page-links
      //-   li
      //-     a(href='/ux.html') UX Design
      //-   li
      //-     a(href='/visual') Visual Design
      //-   li
      //-     a(href='/misc') Miscellaneous
      //-   li
      //-     a(href='/about') About &amp; Contact
      //- ul.social-links
      //-   li
      //-     a#linkedin(href='http://linkedin.com/in/qkzhou')
      //-       img(src='img/linked_in.svg')
      //-   li
      //-     a#github(href='http://github.com/zenpudding')
      //-       img(src='img/github.svg')
      //-   li
      //-     a#mail-to(href='mailto:zenpudding@gmail.com')
      //-       img(src='img/mail-icon.svg')