doctype html
html(lang="en")
  head
    title Kevin Zhou
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src="//use.typekit.net/jjl6qti.js")
    script try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/main.js')
  body
    //- .menu
    //- .mousezone
    #menu
      .logo-icon
      .menu-label MENU
      ul.page-links
        li
          .marker
          a(href='/') ABOUT
        li
          .marker
          a(href='/work.html') WORK
        li
          .marker
          a(href='#') CONTACT

    .splash
      .home-center
        img.vid-overlay(src='img/dummy-white.svg')
        video(class='splash-vid', autoplay='autoplay', loop='loop', poster='img/logo-poster.svg', src='img/home-anim-small.mp4', type='video/mp4', preload='auto')
        .splash-desc
          | UX &middot; Visual Designer
        .splash-desc-under Designer, Artist, Amoeba
    .splash-buffer
      .down-arrow
        img(src='img/down-arrow.svg')
    
    .intro-block
      h1 Hi, I'm Kevin
      h2 I'm a mid 20s creative professional based in Atlanta, GA. Due to somewhat of an identity crisis, I do a lot of different things, making me an amoeba with balance of logic and aesthetic. 
    
    .design-container
      a.block.ux
        .info
          .title Interaction Design
          ul.sublist
            li native apps
            li responsive web
            li front-end development
          .go-dialog-box
            .go-dialog
              .d-icon
                img(src='/img/projects-icon.svg')
              .d-label
                | VIEW </br> PROJECTS
        //- .go-dialog-box
        //-   .go-dialog
        //-     .d-icon
        //-       img(src='/img/projects-icon.svg')
        //-     .d-label
        //-       | VIEW </br> PROJECTS
      a.block.vis
        .info
          .title Visual Design
          ul.sublist
            li apps and web
            li illustration
            li animation
          .go-dialog-box
            .go-dialog
              .d-icon
                img(src='/img/projects-icon.svg')
              .d-label
                | VIEW </br> PROJECTS
        //- .go-dialog-box
        //-   .go-dialog
        //-     .d-icon
        //-       img(src='/img/projects-icon.svg')
        //-     .d-label
        //-       | VIEW </br> PROJECTS

    .mid-block
      h2 Lorem ipsum dolor sit amet, meis summo mel in, mel deleniti accusata deterruisset ad.

    .misc-container
      .misc-block
        .placeholder
        p videography
      .misc-block
        .placeholder
        p webcomic
      .misc-block
        .placeholder
        p animation

    .footer
      a.contact-button Get in Touch
      //- .kz-icon
      //-   img(src='img/kz-icon.svg')
      //- .kevinzhou KEVIN ZHOU
      //- ul.page-links
      //-   li
      //-     a(href='/ux.html') UX Design
      //-   li
      //-     a(href='/visual') Visual Design
      //-   li
      //-     a(href='/misc') Miscellaneous
      //-   li
      //-     a(href='/about') About &amp; Contact
      //- ul.social-links
      //-   li
      //-     a#linkedin(href='http://linkedin.com/in/qkzhou')
      //-       img(src='img/linked_in.svg')
      //-   li
      //-     a#github(href='http://github.com/zenpudding')
      //-       img(src='img/github.svg')
      //-   li
      //-     a#mail-to(href='mailto:zenpudding@gmail.com')
      //-       img(src='img/mail-icon.svg')