doctype html
html(lang="en")
  head
    title Kevin Zhou
    link(rel='stylesheet', href='styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/main.js')
  body
    .menu
    .mousezone