doctype html
html(lang="en")
  head
    title Kevin Zhou
    script(src="//use.typekit.net/jjl6qti.js")
    script(try{Typekit.load({ async: true });}catch(e){})
    link(rel='stylesheet', href='styles/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/main.js')
  body
    //- .menu
    //- .mousezone
    .splash
    .home-center
      h1 KEVIN ZHOU