@charset 'UTF-8';
@import "main_settings";

@import "../../bower_components/foundation/scss/foundation/components/grid";
// @import "../../bower_components/foundation/scss/foundation/components/accordion";
// @import "../../bower_components/foundation/scss/foundation/components/alert-boxes";
// @import "../../bower_components/foundation/scss/foundation/components/block-grid";
// @import "../../bower_components/foundation/scss/foundation/components/breadcrumbs";
// @import "../../bower_components/foundation/scss/foundation/components/button-groups";
// @import "../../bower_components/foundation/scss/foundation/components/buttons";
// @import "../../bower_components/foundation/scss/foundation/components/clearing";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/flex-video";
// @import "../../bower_components/foundation/scss/foundation/components/forms";
// @import "../../bower_components/foundation/scss/foundation/components/icon-bar";
// @import "../../bower_components/foundation/scss/foundation/components/inline-lists";
// @import "../../bower_components/foundation/scss/foundation/components/joyride";
// @import "../../bower_components/foundation/scss/foundation/components/keystrokes";
// @import "../../bower_components/foundation/scss/foundation/components/labels";
// @import "../../bower_components/foundation/scss/foundation/components/magellan";
// @import "../../bower_components/foundation/scss/foundation/components/orbit";
// @import "../../bower_components/foundation/scss/foundation/components/pagination";
// @import "../../bower_components/foundation/scss/foundation/components/panels";
// @import "../../bower_components/foundation/scss/foundation/components/pricing-tables";
// @import "../../bower_components/foundation/scss/foundation/components/progress-bars";
// @import "../../bower_components/foundation/scss/foundation/components/range-slider";
// @import "../../bower_components/foundation/scss/foundation/components/reveal";
// @import "../../bower_components/foundation/scss/foundation/components/side-nav";
// @import "../../bower_components/foundation/scss/foundation/components/split-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/sub-nav";
// @import "../../bower_components/foundation/scss/foundation/components/switches";
// @import "../../bower_components/foundation/scss/foundation/components/tables";
// @import "../../bower_components/foundation/scss/foundation/components/tabs";
// @import "../../bower_components/foundation/scss/foundation/components/thumbs";
// @import "../../bower_components/foundation/scss/foundation/components/tooltips";
// @import "../../bower_components/foundation/scss/foundation/components/top-bar";
// @import "../../bower_components/foundation/scss/foundation/components/type";
// @import "../../bower_components/foundation/scss/foundation/components/offcanvas";
// @import "../../bower_components/foundation/scss/foundation/components/visibility";

body {
	font-family: 'source-sans-pro','Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 60px;
}

.menu {
	width: 60px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #111;
	box-shadow: 1px 0 4px 2px #ccc;
	transition: all 0.4s ease-out;
	&.active {
		width: 500px;
	}
	.menu-center{
		width: 320px;
		height: 100%;
		margin: auto;
		padding-top: 100px;
		padding-bottom: 100px;
		.kz-icon {
			width: 145px;
			margin: auto;
		}
		.kz-name {
			line-height: 1.0;
			font-size: 120px;
			color: #999;
			font-weight: 200;
			&::first-letter {
				color: #eee;
			}
			&.top {
				margin-top: 50px;
				letter-spacing: 1.4px;
			}
		}
		.menu-links {
			list-style: none;
			padding: 0;
			font-size: 24px;
			a {
				transition: all 0.4s ease;
				text-decoration: none;
				color: #bbb;
				font-weight: 300;
				&:hover {
					color: #eee;
				}
				&.active {
					font-weight: normal;
					color: #eee;
				}
			}
		}
		.social-links {
			position: absolute;
			bottom: 50px;
			left: 0;
			width: 100%;
			ul {
				margin: 0;
			}
		}
	}
}

.mousezone {
	width: 300px;
	position: fixed;
	height: 100%;
}

.splash {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
}

.home-center {
	height: 500px;
	width: 800px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	.splash-vid {
		height: 400px;
		width: 400px;
	}
	// .kz-icon {
	// 	width: 145px;
	// 	margin: auto;
	// }
	// .kevinzhou {
	// 	color: #eee;
	// 	font-weight: 200;
	// 	font-size: 120px;
	// }
	// .page-links {
	// 	margin-top: 0;
	// 	padding: 0;
	// 	li {
	// 		display: inline;
	// 	}
	// 	a {
	// 		color: #999;
	// 		font-size: 20px;
	// 		text-decoration: none;
	// 		margin: 0 10px 0 10px;
	// 		&:hover {
	// 			color: #eee;
	// 		}
	// 		transition: all 0.4s ease;
	// 	}
	// }
}

.social-links {
	text-align: center;
	padding: 0;
	margin-top: 50px;
	li {
		display: inline-block;
		vertical-align: middle;
	}
	a {
		width: 50px;
		margin: 0 10px 0 10px;
		display: inline-block;
		height: 50px;
		background: #333;
		border-radius: 999px;
		transition: all 0.4s ease;
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
	img {
		transition: opacity 0.4s ease;
		opacity: 0.5;
		height: 100%;
	}
	#linkedin {
		img {
			width: 28px;
		}
		&:hover {
			background: #0065a1;
		}
	}
	#github {
		img {
			width: 30px;
		}
		&:hover {
			background: #181616;
		}
	}
	#mail-to {
		img {
			width: 30px;
		}
		&:hover {
			background: #5AAB67;
		}
	}
}