@charset 'UTF-8';

@font-face {
  font-family: 'League Spartan Variable';
  src: url('../fonts/LeagueSpartan-VF.woff2') format('woff2-variations');
  font-weight: 200 900;
}

//colors
$color--primary: #87E2CA;

$color--bg: #272727;

$color--whitetext: #eee;
$color--graytext: #999;

$color--active: #373737;
$color--hover: #474747;

//breakpoints
$screen__sm: 512px;
$screen__md: 800px;
$screen__lg: 1024px;
$screen__xl: 1280px;

@mixin screen__sm {
  @media only screen and (min-width: $screen__sm) {
    @content;
  }
}

@mixin screen__md {
  @media only screen and (min-width: $screen__md) {
    @content;
  }
}

@mixin screen__lg {
  @media only screen and (min-width: $screen__lg) {
    @content;
  }
}

@mixin screen__xl {
  @media only screen and (min-width: $screen__xl) {
    @content;
  }
}

//hover mixin to detect hover capability
@mixin hoverable {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

html, body {
	font-family: 'League Spartan Variable','Arial', sans-serif;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
  color: $color--whitetext;
	margin: 0;
	padding: 0;
	height: 100%;
}

button {
  font-family: 'League Spartan Variable','Arial', sans-serif;
  color: $color--primary;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color .17s ease-out;

  @include hoverable {
    background-color: $color--hover;
  }
}

body {
  background-color: $color--bg;
}

nav {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #555;
  transition: height .5s ease;

  .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .title {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    @include hoverable {
      background-color: $color--hover;
    }

    & > * {
      display: inline-block;
      line-height: 1.5rem;
      vertical-align: middle;
    }

    .icon--menu, icon--close {
      position: absolute;
      left: 1rem;
      top: 1.125rem;
      transition: opacity .25s ease-out;
    }

    .icon--close {
      opacity: 0;
    }

    .title-a {
      height: 1.5rem;
      margin-left: .75rem;
    }

    .title-b {
      color: $color--graytext;
    }
  }

  button.nav-contact {
    padding: 1.125rem 1.5rem;
    border: none;
    line-height: 1;
    float: right;
  }

  .contact-link {
    color: $color--whitetext;
    text-align: left;
    text-indent: 1.25rem;
    background: none;
    border: none;
  }

  .nav-links {
    padding-bottom: 2rem;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: .17s;

    .nav-link-group {
      list-style: none;
      margin: 0;
      padding: 1.5rem 0 0;

      .nav-category {
        margin: .5rem 1.25rem;
        color: $color--graytext;
        font-size: 1rem;
      }
    }

    .nav-link-item {
      display: block;
      position: relative;
      width: 100%;
      padding: .75rem 0;
      font-size: 1.25rem;
      transition: background-color .17s ease-out;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        background-color: $color--active;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-left: 4px solid $color--primary;
        }
      }

      @include hoverable {
        background-color: $color--hover;
      }

      .nav-link-item--text {
        margin-left: 1.25rem;
        vertical-align: middle;
      }

      .nav-link-item--tag {
        position: absolute;
        right: 1.5rem;
        font-size: 1rem;
        color: $color--graytext;
        line-height: 1.25;
        vertical-align: middle;
      }
    }
  }

  // menu expansion
  &.expanded {
    height: 100vh;
    overflow: auto;

    .icon--menu {
      opacity: 0;
    }

    .icon--close {
      opacity: 1;
    }

    .title-a, .title-b {
      opacity: .25;
    }

    .nav-links {
      opacity: 1;
    }
  }

  // fixed width at larger breakpoints
  @include screen__md {
    width: auto;
    overflow: initial;
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid #555;

    .nav-content-block {
      width: 280px;
    }

    .icon--menu, .icon--close {
      display: none;
    }

    .title .title-a, .title .title-b {
      margin-left: 0;
      opacity: 1;
    }

    .nav-links {
      opacity: 1;
    }
  }

  @include screen__lg {
    padding: 2rem;

    .nav-content-block {
      width: 320px;
    }
  }

  @include screen__xl {
    padding: 3rem;
    padding-left: 12vw;
  }

}

.main {
  width: 100%;

  @include screen__md {
    width: 480px;
  }
}
