@charset 'UTF-8';
@import "main_settings";

@import "../../bower_components/foundation/scss/foundation/components/grid";
// @import "../../bower_components/foundation/scss/foundation/components/accordion";
// @import "../../bower_components/foundation/scss/foundation/components/alert-boxes";
// @import "../../bower_components/foundation/scss/foundation/components/block-grid";
// @import "../../bower_components/foundation/scss/foundation/components/breadcrumbs";
// @import "../../bower_components/foundation/scss/foundation/components/button-groups";
// @import "../../bower_components/foundation/scss/foundation/components/buttons";
// @import "../../bower_components/foundation/scss/foundation/components/clearing";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown";
// @import "../../bower_components/foundation/scss/foundation/components/dropdown-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/flex-video";
// @import "../../bower_components/foundation/scss/foundation/components/forms";
// @import "../../bower_components/foundation/scss/foundation/components/icon-bar";
// @import "../../bower_components/foundation/scss/foundation/components/inline-lists";
// @import "../../bower_components/foundation/scss/foundation/components/joyride";
// @import "../../bower_components/foundation/scss/foundation/components/keystrokes";
// @import "../../bower_components/foundation/scss/foundation/components/labels";
// @import "../../bower_components/foundation/scss/foundation/components/magellan";
// @import "../../bower_components/foundation/scss/foundation/components/orbit";
// @import "../../bower_components/foundation/scss/foundation/components/pagination";
// @import "../../bower_components/foundation/scss/foundation/components/panels";
// @import "../../bower_components/foundation/scss/foundation/components/pricing-tables";
// @import "../../bower_components/foundation/scss/foundation/components/progress-bars";
// @import "../../bower_components/foundation/scss/foundation/components/range-slider";
// @import "../../bower_components/foundation/scss/foundation/components/reveal";
// @import "../../bower_components/foundation/scss/foundation/components/side-nav";
// @import "../../bower_components/foundation/scss/foundation/components/split-buttons";
// @import "../../bower_components/foundation/scss/foundation/components/sub-nav";
// @import "../../bower_components/foundation/scss/foundation/components/switches";
// @import "../../bower_components/foundation/scss/foundation/components/tables";
// @import "../../bower_components/foundation/scss/foundation/components/tabs";
// @import "../../bower_components/foundation/scss/foundation/components/thumbs";
// @import "../../bower_components/foundation/scss/foundation/components/tooltips";
// @import "../../bower_components/foundation/scss/foundation/components/top-bar";
// @import "../../bower_components/foundation/scss/foundation/components/type";
// @import "../../bower_components/foundation/scss/foundation/components/offcanvas";
// @import "../../bower_components/foundation/scss/foundation/components/visibility";

$green: #6cc989;

body {
	font-family: 'source-sans-pro','Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 60px;
	font-weight: 500;
	color: $green;
	text-align: center;
}

h2 {
	font-size: 38px;
	font-weight: 300;
	color: #555;
	text-align: center;
}

.splash {
	width: 100%;
	height: 90%;
	position: relative;
	left: 0;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.home-center {
	height: 500px;
	width: 400px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	.splash-vid {
		height: 400px;
		width: 400px;
	}
	.splash-desc {
		width: 336px;
		height: 88px;
		margin: auto;
		padding-top: 24px;
		font-size: 22px;
		border-top: 2px solid #eee;
		border-bottom: 2px solid #eee;
		color: $green;
	}
}

.down-arrow {
	position: relative;
	width: 240px;
	margin: auto;
	margin-top: -60px;
}

.intro-block {
	width: 80%;
	margin: auto;
}

.design-block {
	width: 100%;
	position: relative;
	height: auto;
	min-height: 300px;
	.ux-block {
		width: 50%;
		height: auto;
	}
	.visual-block {
		width: 50%;
		height: auto;
	}
}

.social-links {
	text-align: center;
	padding: 0;
	margin-top: 50px;
	li {
		display: inline-block;
		vertical-align: middle;
	}
	a {
		width: 50px;
		margin: 0 10px 0 10px;
		display: inline-block;
		height: 50px;
		background: #333;
		border-radius: 999px;
		transition: all 0.4s ease;
		&:hover {
			img {
				opacity: 1;
			}
		}
	}
	img {
		transition: opacity 0.4s ease;
		opacity: 0.5;
		height: 100%;
	}
	#linkedin {
		img {
			width: 28px;
		}
		&:hover {
			background: #0065a1;
		}
	}
	#github {
		img {
			width: 30px;
		}
		&:hover {
			background: #181616;
		}
	}
	#mail-to {
		img {
			width: 30px;
		}
		&:hover {
			background: #5AAB67;
		}
	}
}