@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin vertical-align(){
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.work-container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 120px 0 120px;
	@media (min-width: 514px) {
		padding-top: 140px;
	}
	@media (min-width: 768px) {
		padding-top: 180px;
	}
	input[type='radio'] {
		display: none;
	}
	input[type='radio']:checked + label {
		background: #333;
		color: #fff;
	}
	label {
		display: block;
		@include transition(background 0.5s ease);
		width: 25%;
		float: left;
		text-align: center;
		font-size: 18px;
		color: #555;
		padding: 1em 0;
		cursor: pointer;
		@media (min-width: 514px) {
			font-size: 24px;
		}
		@media (min-width: 768px) {
			font-size: 30px;
			padding: 1.5em 0;
		}
		&:hover {
			background: #f5f5f5;
		}
	}
	input[type='radio'][id='ux']:checked ~ .not-ux {
		height: 0;
		margin: 0;
		opacity: 0;
		pointer-events: none;
	}
	input[type='radio'][id='visual']:checked ~ .not-vis {
		height: 0;
		margin: 0;
		opacity: 0;
		pointer-events: none;
	}
	input[type='radio'][id='misc']:checked ~ .not-misc {
		height: 0;
		margin: 0;
		opacity: 0;
		pointer-events: none;
	}
	.buffer {
		height: 80px;
		@media (min-width: 514px) {
			height: 100px;
		}
		@media (min-width: 768px) {
			height: 140px;
		}
		@media (min-width: 1024px) {
			height: 160px;
		}
	}
	.work-item {
		width: 97%;
		background: #f5f5f5;
		display: block;
		position: relative;
		margin-top: 20px;
		opacity: 1;
		height: 180px;
		pointer-events: initial;
		@media (min-width: 768px) {
			@include transition(all 0.5s ease);
			height: 200px;
			margin-top: 40px;
		}
		@media (min-width: 1024px) {
			height: 300px;
		}
		@media (min-width: 1400px) {
			height: 360px;
			margin-top: 60px;
		}
		a {
			@include transition(opacity 0.4s ease);
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 5;
			display: block;
			opacity: 0;
			background: #fff;
			cursor: pointer;
			&:hover {
				opacity: 0.3;
			}
		}
		img {
			display: none;
			@media (min-width: 768px) {
				display: inline-block;
				height: 100%;
			}
		}
		&.ds-site {
			@media (max-width: 767px) {
				border-left: 8px solid #1ebbc4;
			}
		}
		&.hubbell {
			@media (max-width: 767px) {
				border-left: 8px solid #ffe44c;
			}
		}
		&.napa {
			@media (max-width: 767px) {
				border-left: 8px solid #0051a2;
			}
		}
		&.eprove {
			@media (max-width: 767px) {
				border-left: 8px solid #aaa;
			}
		}
		&.source {
			@media (max-width: 767px) {
				border-left: 8px solid #333;
			}
		}
		&.video {
			@media (max-width: 767px) {
				border-left: 8px solid #dd7676;
			}
		}
		&.anim {
			@media (max-width: 767px) {
				border-left: 8px solid #4cc181;
			}
		}
		&.comic {
			@media (max-width: 767px) {
				border-left: 8px solid #f7d74c;
			}
		}
		.work-info-wrap {
			display: block;
			position: relative;
			height: 100%;
			@media (min-width: 768px) {
				display: inline-block;
				position: static;
			}
			.work-info {
				position: absolute;
				display: block;
				font-size: 24px;
				padding: 0 20px;
				@include vertical-align();
				@media (min-width: 768px) {
					padding: 0 40px;
					font-size: 28px;
				}
				@media (min-width: 1024px) {
					position: absolute;
					display: inline-block;
					@include vertical-align();
					font-size: 34px;
					padding: 0 60px;
				}
				@media (min-width: 1400px) {
					font-size: 42px;
				}
				.work-title {
					font-weight: 700;
					margin-bottom: 6px;
					line-height: 1.2;
					color: #000;
				}
				.work-desc {
					font-size: 18px;
					color: #555;
					font-weight: 300;
					@media (min-width: 768px) {
						font-size: 22px;
					}
					@media (min-width: 1024px) {
						font-size: 26px;
					}
					@media (min-width: 1400px) {
						font-size: 30px;
					}
				}
			}
		}
	}
}


.case-container {
	background: #fff;
}

.case-header {
	width: 100%;
	height: 110px;
	background: #555;
	position: relative;
	margin-bottom: 40px;
	@media (min-width: 768px) {
		height: 200px;
		margin-bottom: 140px;
	}
	.case-icon {
		width: 80px;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		@media (min-width: 768px) {
			width: 200px;
		}
		img {
			width: 100%;
		}
	}
}

.case-intro {
	width: 86%;
	margin: auto;
	text-align: center;
	font-size: 30px;
	@media (min-width: 768px) {
		font-size: 52px;
	}
	.case-title {
		font-weight: 700;
		line-height: 1.2;
	}
	.case-subtitle {
		font-size: 20px;
		font-weight: 300;
		color: #777;
		@media (min-width: 768px) {
			font-size: 32px;
		}
	}
	ul.case-tags {
		list-style: none;
		padding: 0;
		left: 0;
		right: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		li {
			display: inline-block;
			font-size: 18px;
			color: #333;
			background: #ddd;
			padding: 0.5em 1.5em;
			margin-top: 0.3em;
			max-width: 10em;
			font-weight: 300;
			@media (min-width: 768px) {
				font-size: 24px;
			}
		}
	}
}

.case-body {
	width: 86%;
	max-width: 1200px;
	margin: auto;
	padding-top: 0;
	@media (min-width: 768px) {
		padding-top: 2px;
	}
	p {
		font-size: 20px;
		font-weight: 300;
		color: #000;
		margin: 1.5em 0;
		line-height: 1.6;
		@media (min-width: 768px) {
			font-size: 28px;
		}
	}
	img {
		width: 100%;
		margin: 20px 0;
		@media (min-width: 768px) {
			margin: 40px 0;
		}
	}
}

.wide {
	margin: 20px 0;
	width: 100%;
	@media (min-width: 768px) {
		margin: 40px 0;
	}
}

.case-footer {
	height: 60px;
	background: #555;
	margin-top: 60px;
}

.ds-co {
	// ul.case-tags {
	// 	li {
	// 		background: #ff8e00;
	// 	}
	// }
}

#modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 30;
	top: 0;
	display: none;
	&.active {
		display: block;
		overflow-y: auto;
	}
}

#m-overlay {
	@include transition(all 0.5s ease);
	position: fixed;
	width: 100%;
	height: 0;
	z-index: 999;
	top: 50%;
	background: #555;
	opacity: 1;
	pointer-events: none;
	&.active {
		height: 100%;
		top: 0;
	}
	&.small {
		// height: 0;
		opacity: 0;
	}
}

.m-header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	background: #555;
}

.m-close {
	@include transition(opacity 0.5s ease);
	width: 60px;
	height: 60px;
	@media (min-width: 768px) {
		width: 100px;
		height: 100px;
		top: 45px;
		left: 45px;
	}
	position: fixed;
	background: #fff;
	top: 20px;
	left: 20px;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
	&.active {
		opacity: 0.8;
	}
}