::-moz-selection {
  color: #fff;
  background: #6cc989; }

::selection {
  color: #fff;
  background: #6cc989; }

html, body {
  font-family: 'source-sans-pro','Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%; }

body.modal-open {
  overflow: hidden; }

h1 {
  font-size: 36px;
  color: #333;
  font-weight: 500;
  text-align: left; }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px;
      text-align: center; } }

h2 {
  font-size: 26px;
  color: #333;
  font-weight: 500;
  text-align: left;
  line-height: 1.6;
  margin-top: 0; }
  @media (min-width: 580px) {
    h2 {
      font-size: 32px; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px; } }
  @media (min-width: 1281px) {
    h2 {
      font-size: 42px; } }
  h2 a {
    text-decoration: none; }

p {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  margin: 1em 0;
  line-height: 1.6; }
  @media (min-width: 580px) {
    p {
      font-size: 24px; } }
  @media (min-width: 768px) {
    p {
      font-size: 28px; } }

.wf-loading {
  visibility: hidden; }

.wf-active, .wf-inactive {
  visibility: visible; }

#menu {
  position: fixed;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 20;
  padding: 5% 0 0 5%;
  opacity: 0;
  top: 0; }
  @media (min-width: 768px) {
    #menu {
      top: -180px;
      width: 100px;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; } }
  @media (min-width: 1024px) {
    #menu {
      padding: 2% 0 0 2%; } }
  @media (min-width: 768px) {
    #menu.expanded {
      width: 380px; } }
  #menu.expanded .logo-icon {
    opacity: 0.8;
    background-image: url('/img/menu-close.svg'); }
  #menu.expanded ul.page-links {
    height: 9em;
    opacity: 1; }
    #menu.expanded ul.page-links a {
      display: block; }
  #menu .logo-icon {
    background: url('/img/menu-icon.svg') no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    cursor: pointer; }
    @media (min-width: 768px) {
      #menu .logo-icon {
        width: 100px;
        height: 100px; } }
    @media (min-width: 1025px) {
      #menu .logo-icon {
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease; }
        #menu .logo-icon:hover {
          opacity: 0.7; } }
  #menu .menu-label {
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    font-size: 18px;
    text-align: center;
    width: 60px;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px 0 5px;
    padding: 0.2em 0;
    background: #fff;
    font-weight: 300;
    color: #000;
    opacity: 0.9; }
    #menu .menu-label.hidden {
      opacity: 0; }
    @media (min-width: 768px) {
      #menu .menu-label {
        width: 100px;
        font-size: 24px;
        padding: 0.2em 0; } }
  #menu ul.page-links {
    font-size: 24px;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    opacity: 0;
    margin: 0;
    box-shadow: 8px 8px 9px rgba(120, 120, 120, 0.1);
    height: 0;
    width: 200px; }
    @media (min-width: 768px) {
      #menu ul.page-links {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; } }
    @media (min-width: 768px) {
      #menu ul.page-links {
        width: 380px;
        font-size: 36px; } }
    #menu ul.page-links li {
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      width: 100%;
      height: 33.33%;
      position: relative;
      background: #333; }
      #menu ul.page-links li:hover {
        background: #555; }
        #menu ul.page-links li:hover .marker {
          display: block; }
      #menu ul.page-links li .marker {
        position: absolute;
        height: 100%;
        width: 0.5em;
        left: 0;
        background: #999;
        display: none; }
      #menu ul.page-links li a {
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        display: none;
        text-decoration: none;
        position: absolute;
        width: 65%;
        color: #aaa;
        padding: 1em;
        padding-left: 1.5em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #menu ul.page-links li a:hover {
          color: #fff; }
        @media (min-width: 768px) {
          #menu ul.page-links li a {
            width: 76%; } }
  #menu.active {
    top: 0;
    opacity: 1; }

.splash {
  width: 100%;
  height: 80%;
  max-height: 760px;
  min-height: 400px;
  position: relative; }
  @media (min-width: 769px) {
    .splash {
      height: 100%;
      max-height: 100%; } }
  .splash .left {
    width: 100%;
    height: 50%;
    background: #333; }
    @media (min-width: 769px) {
      .splash .left {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%; } }
    .splash .left .info {
      position: relative;
      width: 70%;
      max-width: 300px;
      left: 0;
      right: 0;
      margin: auto;
      line-height: 1.5;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 769px) {
        .splash .left .info {
          width: 80%;
          max-width: 400px; } }
      @media (min-width: 1400px) {
        .splash .left .info {
          width: 400px; } }
      .splash .left .info .name {
        color: #aaa;
        font-size: 24px;
        font-weight: 300; }
        @media (min-width: 414px) {
          .splash .left .info .name {
            font-size: 28px; } }
        @media (min-width: 769px) {
          .splash .left .info .name {
            font-size: 30px; } }
        @media (min-width: 1400px) {
          .splash .left .info .name {
            font-size: 34px; } }
      .splash .left .info .title {
        color: #fff;
        font-size: 24px; }
        @media (min-width: 414px) {
          .splash .left .info .title {
            font-size: 30px; } }
        @media (min-width: 769px) {
          .splash .left .info .title {
            font-size: 32px; } }
        @media (min-width: 1400px) {
          .splash .left .info .title {
            font-size: 40px; } }
      .splash .left .info ul.splash-links {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 6px;
        font-size: 18px;
        font-weight: 300; }
        @media (min-width: 414px) {
          .splash .left .info ul.splash-links {
            font-size: 24px; } }
        @media (min-width: 769px) {
          .splash .left .info ul.splash-links {
            padding-top: 8px; } }
        @media (min-width: 1400px) {
          .splash .left .info ul.splash-links {
            font-size: 28px;
            padding-top: 10px; } }
        .splash .left .info ul.splash-links li {
          display: inline; }
        .splash .left .info ul.splash-links a {
          -moz-transition: color 0.4s ease;
          -o-transition: color 0.4s ease;
          -webkit-transition: color 0.4s ease;
          transition: color 0.4s ease;
          padding-right: 10px;
          text-decoration: none;
          color: #888; }
          .splash .left .info ul.splash-links a.active {
            color: #ccc; }
          .splash .left .info ul.splash-links a:hover {
            color: #ccc; }
          @media (min-width: 414px) {
            .splash .left .info ul.splash-links a {
              padding-right: 16px; } }
          @media (min-width: 769px) {
            .splash .left .info ul.splash-links a {
              padding-right: 18px; } }
          @media (min-width: 1400px) {
            .splash .left .info ul.splash-links a {
              padding-right: 1em; } }
  .splash .right {
    width: 100%;
    height: 200px; }
    @media (min-width: 769px) {
      .splash .right {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%; } }
    .splash .right .vid-overlay {
      -moz-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease;
      position: absolute;
      width: 100%;
      top: 0;
      height: 80%;
      height: calc(100% - 380px);
      z-index: 5; }
      @media (max-width: 768px) {
        .splash .right .vid-overlay {
          display: none; } }
      .splash .right .vid-overlay.active {
        opacity: 0; }
    .splash .right .vid {
      position: relative;
      width: 100%;
      top: 0;
      height: 80%;
      height: calc(100% - 380px); }
      @media (max-width: 768px) {
        .splash .right .vid {
          display: none; } }
      .splash .right .vid video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 70%;
        max-height: 70%; }
    .splash .right .portrait {
      position: absolute;
      background-image: url('/img/splash-portrait.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 50%;
      bottom: 0;
      margin: auto; }
      @media (min-width: 769px) {
        .splash .right .portrait {
          height: 380px; } }
  .splash .down-arrow {
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    width: 100px;
    cursor: pointer;
    display: none; }
    @media (min-width: 769px) {
      .splash .down-arrow {
        display: block; } }
    .splash .down-arrow:hover {
      opacity: 1;
      width: 120px;
      bottom: 40px; }

.section {
  width: 100%; }
  .section .block {
    position: relative;
    display: inline-block;
    height: 0;
    width: 100%;
    padding-bottom: 100%; }
    @media (min-width: 1024px) {
      .section .block {
        width: 50%;
        padding-bottom: 50%; } }
    .section .block:first-child {
      float: left; }
    .section .block img {
      width: 100%; }
    .section .block .text {
      position: absolute;
      width: 80%;
      max-width: 600px;
      left: 0;
      right: 0;
      margin: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 514px) {
        .section .block .text {
          width: 70%; } }
      .section .block .text h2 {
        margin-bottom: 0.5em; }
      .section .block .text p {
        margin-top: 0.5em; }
        @media (min-width: 1024px) and (max-width: 1281px) {
          .section .block .text p {
            font-size: 20px; } }
      .section .block .text a {
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
        color: #6cc989;
        opacity: 1;
        text-decoration: none; }
        .section .block .text a:hover {
          opacity: 0.4; }
      .section .block .text a.button {
        background: #6cc989;
        text-decoration: none;
        width: 280px;
        color: #fff;
        font-size: 24px;
        line-height: 3.5em;
        height: 3.5em;
        font-weight: 300;
        text-align: center;
        margin-top: 1.5em;
        display: none; }
        @media (min-width: 400px) {
          .section .block .text a.button {
            display: block; } }
        @media (min-width: 768px) {
          .section .block .text a.button {
            width: 420px;
            margin-top: 2em;
            font-size: 36px; } }
        @media (min-width: 1024px) and (max-width: 1400px) {
          .section .block .text a.button {
            width: 280px;
            font-size: 24px;
            margin-top: 1.5em; } }
    .section .block.dupe:last-child {
      display: none; }
    @media (min-width: 1024px) {
      .section .block.dupe:first-child {
        display: none; }
      .section .block.dupe:last-child {
        display: inline-block;
        float: right; } }

.footer {
  width: 100%;
  background: #333;
  position: relative;
  margin-top: -6px; }
  .footer .contact-block {
    width: 80%;
    margin: auto;
    font-size: 24px;
    color: #eee;
    font-weight: 300;
    text-align: left;
    padding: 50px 0; }
    @media (min-width: 678px) {
      .footer .contact-block {
        font-size: 38px;
        padding: 100px 0;
        width: 640px;
        text-align: center; } }
    .footer .contact-block a {
      -moz-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      opacity: 1;
      text-decoration: none; }
      .footer .contact-block a:hover {
        opacity: 0.4; }
    .footer .contact-block a.email-link {
      color: #6cc989;
      cursor: pointer; }
    .footer .contact-block a.linkedin-link {
      color: #6797ee; }
  .footer .contact-button {
    cursor: pointer;
    width: 80%;
    font-size: 24px;
    height: 4em;
    line-height: 4em;
    left: 0;
    right: 0;
    top: -2em;
    text-align: center;
    color: #fff;
    margin: auto;
    background: #6cc989;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease; }
    @media (min-width: 768px) {
      .footer .contact-button {
        width: 640px;
        font-size: 36px; } }
    @media (min-width: 769px) {
      .footer .contact-button:hover {
        background: #a4e9bb; } }
  .footer .end-msg {
    height: 4em;
    line-height: 4em;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    color: #777;
    font-size: 18px;
    width: 80%;
    font-weight: 300;
    text-align: center; }
    @media (min-width: 768px) {
      .footer .end-msg {
        font-size: 28px; } }

.email-select {
  z-index: -10;
  position: fixed;
  bottom: -40px;
  opacity: 0; }

.copy-dialog {
  position: fixed;
  width: 80%;
  font-size: 20px;
  line-height: 4em;
  height: 4em;
  background: #eee;
  color: #333;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  @media (min-width: 678px) {
    .copy-dialog {
      width: 500px;
      font-size: 36px; } }
  .copy-dialog.active {
    opacity: 0.8; }
