::-moz-selection {
  color: #fff;
  background: #6cc989; }

::selection {
  color: #fff;
  background: #6cc989; }

html, body {
  font-family: 'source-sans-pro','Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%; }

body.modal-open {
  overflow: hidden; }

h1 {
  font-size: 36px;
  color: #333;
  font-weight: 500;
  text-align: left; }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px;
      text-align: center; } }

h2 {
  font-size: 26px;
  color: #555;
  font-weight: 300;
  text-align: left;
  line-height: 1.6; }
  @media (min-width: 768px) {
    h2 {
      font-size: 38px;
      text-align: center; } }
  h2 a {
    text-decoration: none; }

.wf-loading {
  visibility: hidden; }

.wf-active, .wf-inactive {
  visibility: visible; }

#menu {
  position: fixed;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
  z-index: 5;
  top: -180px;
  padding: 5% 0 0 5%; }
  @media (min-width: 768px) {
    #menu {
      width: 100px;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; } }
  @media (min-width: 1024px) {
    #menu {
      padding: 2% 0 0 2%; } }
  @media (min-width: 768px) {
    #menu.expanded {
      width: 380px; } }
  #menu.expanded .logo-icon {
    opacity: 0.8;
    background-image: url('/img/menu-close.svg'); }
  #menu.expanded ul.page-links {
    height: 9em;
    opacity: 1; }
    #menu.expanded ul.page-links a {
      display: block; }
  #menu .logo-icon {
    background: url('/img/menu-icon.svg') no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    cursor: pointer; }
    @media (min-width: 768px) {
      #menu .logo-icon {
        width: 100px;
        height: 100px; } }
    @media (min-width: 1025px) {
      #menu .logo-icon {
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease; }
        #menu .logo-icon:hover {
          opacity: 0.7; } }
  #menu .menu-label {
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    font-size: 18px;
    text-align: center;
    width: 70px;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 5px;
    padding: 0.2em 0;
    background: #fff;
    font-weight: 300;
    color: #000;
    opacity: 0.9; }
    #menu .menu-label.hidden {
      opacity: 0; }
    @media (min-width: 768px) {
      #menu .menu-label {
        width: 100px;
        font-size: 24px;
        padding: 0.2em 0; } }
  #menu ul.page-links {
    font-size: 36px;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    opacity: 0;
    margin: 0;
    box-shadow: 8px 8px 9px rgba(120, 120, 120, 0.1);
    height: 0;
    width: 250px; }
    @media (min-width: 768px) {
      #menu ul.page-links {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; } }
    @media (min-width: 514px) {
      #menu ul.page-links {
        width: 380px; } }
    #menu ul.page-links li {
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      width: 100%;
      height: 33.33%;
      position: relative;
      background: #555; }
      #menu ul.page-links li:hover {
        background: #777; }
        #menu ul.page-links li:hover .marker {
          display: block; }
      #menu ul.page-links li .marker {
        position: absolute;
        height: 100%;
        width: 0.5em;
        left: 0;
        background: #999;
        display: none; }
      #menu ul.page-links li a {
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        display: none;
        text-decoration: none;
        position: absolute;
        width: 65%;
        color: #aaa;
        padding: 1em;
        padding-left: 1.5em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #menu ul.page-links li a:hover {
          color: #fff; }
        @media (min-width: 768px) {
          #menu ul.page-links li a {
            width: 76%; } }
  #menu.active {
    top: 0; }

.splash {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background: #fff; }

.home-center {
  width: 200px;
  margin: 60px auto;
  position: relative;
  left: 0;
  right: 0;
  text-align: center; }
  @media (min-width: 370px) {
    .home-center {
      width: 300px; } }
  @media (min-width: 1024px) {
    .home-center {
      width: 480px;
      margin: 80px auto; } }
  .home-center .vid-overlay {
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: relative;
    opacity: 1;
    width: 100%;
    z-index: 5; }
    .home-center .vid-overlay.active {
      opacity: 0; }
  .home-center .splash-vid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; }
  .home-center .splash-desc {
    width: 85%;
    height: 2em;
    margin: auto;
    padding: 0;
    line-height: 2em;
    font-size: 20px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    color: #333; }
    @media (min-width: 370px) {
      .home-center .splash-desc {
        font-size: 30px; } }
    @media (min-width: 1024px) {
      .home-center .splash-desc {
        font-size: 46px; } }
  .home-center .splash-desc-under {
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    font-weight: 300;
    color: #999; }
    @media (min-width: 370px) {
      .home-center .splash-desc-under {
        font-size: 24px; } }
    @media (min-width: 1024px) {
      .home-center .splash-desc-under {
        font-size: 30px; } }

.splash-buffer {
  height: 150px;
  background: url('/img/home-buffer.jpg');
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (min-width: 768px) {
    .splash-buffer {
      height: 380px; } }
  .splash-buffer .down-arrow {
    position: absolute;
    margin: auto;
    top: -1px;
    left: 0;
    right: 0;
    width: 80px; }
    .splash-buffer .down-arrow img {
      width: 80px; }

.intro-block {
  width: 80%;
  margin: auto;
  padding: 60px 0; }
  @media (min-width: 768px) {
    .intro-block {
      padding: 160px 0; } }

.design-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 200%; }
  @media (min-width: 1024px) {
    .design-container {
      padding-bottom: 50%; } }
  .design-container .block {
    cursor: pointer;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: absolute; }
    @media (min-width: 1024px) {
      .design-container .block {
        width: 50%;
        padding-bottom: 50%; } }
    .design-container .block.ux {
      background: #57bfb1;
      left: 0; }
    .design-container .block.vis {
      background: #6ed5a7;
      right: 0;
      bottom: 0; }
    .design-container .block.active .go-dialog-box {
      background-color: rgba(255, 255, 255, 0.2) !important; }
    .design-container .block .info {
      position: absolute;
      width: 70%;
      max-width: 460px;
      margin: auto;
      left: 0;
      right: 0;
      color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (min-width: 1024px) {
        .design-container .block .info {
          width: 320px; } }
      @media (min-width: 1600px) {
        .design-container .block .info {
          width: 520px; } }
      .design-container .block .info .title {
        font-size: 30px;
        font-size: 9vw; }
        @media (min-width: 415px) {
          .design-container .block .info .title {
            font-size: 30px;
            font-size: 7vw; } }
        @media (min-width: 1024px) {
          .design-container .block .info .title {
            font-size: 40px; } }
        @media (min-width: 1600px) {
          .design-container .block .info .title {
            font-size: 58px; } }
      .design-container .block .info ul.sublist {
        opacity: 0.8;
        line-height: 2;
        font-size: 20px;
        font-size: 6vw;
        padding-left: 1em;
        font-weight: 300;
        list-style: square;
        margin-bottom: 0;
        margin-top: 0.3em; }
        @media (min-width: 415px) {
          .design-container .block .info ul.sublist {
            font-size: 20px;
            font-size: 5vw; } }
        @media (min-width: 1024px) {
          .design-container .block .info ul.sublist {
            font-size: 28px; } }
        @media (min-width: 1600px) {
          .design-container .block .info ul.sublist {
            font-size: 40px; } }
      .design-container .block .info .go-dialog-box {
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        display: block;
        position: relative;
        opacity: 1;
        height: 60px;
        margin: auto;
        margin-top: 0.7em;
        background-color: rgba(255, 255, 255, 0.2); }
        @media (min-width: 415px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 1.5em;
            height: 80px; } }
        @media (min-width: 1024px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 30px;
            margin-bottom: -30px; } }
        @media (min-width: 1600px) {
          .design-container .block .info .go-dialog-box {
            margin-top: 80px;
            margin-bottom: -80px;
            background-color: rgba(255, 255, 255, 0); } }
        .design-container .block .info .go-dialog-box .go-dialog {
          position: absolute;
          font-size: 16px;
          height: 2.4em;
          width: 128px;
          line-height: 1.2em;
          margin: auto;
          left: 0;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media (min-width: 500px) {
            .design-container .block .info .go-dialog-box .go-dialog {
              font-size: 20px;
              width: 160px; }
              .design-container .block .info .go-dialog-box .go-dialog .d-icon img {
                width: 40px !important; } }
          .design-container .block .info .go-dialog-box .go-dialog .d-icon {
            display: inline-block;
            float: left;
            height: 100%;
            vertical-align: middle; }
            .design-container .block .info .go-dialog-box .go-dialog .d-icon img {
              width: 30px;
              height: 100%;
              vertical-align: middle; }
          .design-container .block .info .go-dialog-box .go-dialog .d-label {
            display: inline-block;
            padding-left: 0.8em;
            width: 5em; }

.mid-block {
  width: 80%;
  margin: auto;
  padding: 80px 0; }
  @media (min-width: 768px) {
    .mid-block {
      padding: 160px 0; } }

.misc-container {
  width: 100%;
  position: relative; }
  .misc-container .block {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: inline-block;
    background: #eee; }
    @media (min-width: 768px) {
      .misc-container .block {
        width: 33.33%;
        width: calc(100%/3);
        margin: 0;
        padding-bottom: 33.33%; } }
    .misc-container .block img {
      width: 100%; }
    .misc-container .block .block-overlay {
      -moz-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .misc-container .block:hover .block-overlay {
      opacity: 0.4; }
    .misc-container .block.photovid {
      float: left; }
    .misc-container .block.comic {
      background: #ddd;
      position: relative; }
      .misc-container .block.comic .comic-link {
        position: absolute;
        font-size: 24px;
        z-index: 15;
        text-align: center;
        height: 3em;
        line-height: 3em;
        width: 200px;
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
    .misc-container .block.illus {
      margin-top: -5px; }
      @media (min-width: 768px) {
        .misc-container .block.illus {
          margin-top: 0;
          float: right; } }

.contact-block {
  width: 80%;
  margin: auto;
  padding: 80px 0; }
  @media (min-width: 768px) {
    .contact-block {
      width: 640px;
      padding: 160px 0; } }
  .contact-block a {
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    opacity: 1; }
    .contact-block a:hover {
      opacity: 0.4; }
  .contact-block a.email-link {
    color: #6cc989;
    cursor: pointer; }
  .contact-block a.linkedin-link {
    color: #0065a1; }

.footer {
  width: 100%;
  height: 240px;
  margin-top: 20px;
  background: #333;
  position: relative; }
  .footer .contact-button {
    position: absolute;
    cursor: pointer;
    width: 80%;
    font-size: 24px;
    height: 4em;
    line-height: 4em;
    left: 0;
    right: 0;
    top: -2em;
    text-align: center;
    color: #fff;
    margin: auto;
    background: #6cc989;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease; }
    @media (min-width: 768px) {
      .footer .contact-button {
        width: 640px;
        font-size: 36px; } }
    @media (min-width: 769px) {
      .footer .contact-button:hover {
        background: #a4e9bb; } }
  .footer .end-msg {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    color: #777;
    font-size: 20px;
    width: 80%;
    font-weight: 300;
    text-align: center; }
    @media (min-width: 768px) {
      .footer .end-msg {
        font-size: 28px; } }

.email-select {
  z-index: -10;
  position: fixed;
  bottom: -40px;
  opacity: 0; }

.copy-dialog {
  position: fixed;
  width: 80%;
  font-size: 20px;
  line-height: 4em;
  height: 4em;
  background: #eee;
  color: #333;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  @media (min-width: 678px) {
    .copy-dialog {
      width: 500px;
      font-size: 36px; } }
  .copy-dialog.active {
    opacity: 0.8; }

.social-links {
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px; }
  .social-links li {
    display: inline-block;
    vertical-align: middle; }
  .social-links a {
    width: 50px;
    margin: 0 10px 0 10px;
    display: inline-block;
    height: 50px;
    background: #555;
    border-radius: 999px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .social-links a:hover img {
      opacity: 1; }
  .social-links img {
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    opacity: 0.5;
    height: 100%; }
  .social-links #linkedin img {
    width: 28px; }
  .social-links #linkedin:hover {
    background: #0065a1; }
  .social-links #github img {
    width: 30px; }
  .social-links #github:hover {
    background: #181616; }
  .social-links #mail-to img {
    width: 30px; }
  .social-links #mail-to:hover {
    background: #5AAB67; }
